
body {
    background-color: #3F2860;
    color: #40407A;
    font-family: Verdana, Arial, Sans-Serif;
}
#wrapper{
    min-width: 1200px;
    max-width: 1480px;
    margin-right: auto;
    margin-left: auto;
    background-color: #F5F5F5;
    min-width: 1000px;
    max-width: 1280;
    display: grid;
    grid-template-columns: 1f 3f;
    grid-template-rows: 1f 3f 1f;
    grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
}
main{
    grid-area: main;
    padding-left: 2em;
    padding-right: 2em;
    display: grid;
    grid-template-columns: 1f 3f;
    grid-template-rows:3f 1f;
    grid-template-areas:
    "image text"
    "copy ."
}
.pages{
    grid-area: main;
    padding-left: 2em;
    padding-right: 2em;
    display: grid;
    grid-template-columns: 1f;
    grid-template-rows:1f 1f;
    grid-template-areas:
    "text"
    "hero"
}

.page1{
    margin-inline-start: 40px;
    column-gap: 1em;
    display: grid;
    grid-template-columns: 1f 1f 1f;
    grid-template-rows:1f;
    grid-template-areas:
    "sec1 sec2 sec3";
}
.page2{
    margin-inline-start: 40px;
    display:grid;
    grid-template-columns: 2f;
    grid-template-rows: 1f;
    grid-template-areas:
    "sec1 sec2";
}
.content{
    grid-area: text;
}
.space{
    margin-left: 2em;
}
.copy{
    grid-area: copy;
}
h1{
    background-color: #80CBC4;
    margin-top: 0%;
    padding-top: 1.7em;
    padding-bottom: 1.7em;
    padding-left: 2em;
    background-image: url(lilyheader.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto, 150px;
}
h2{
    margin-top: 0%;
    margin-block-start: 1em;
}
nav{
    grid-area: nav;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    display: flex;
    flex-direction: column;

}
nav a {
    border-style: outset;

    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    text-decoration: none;
}
nav a:link
 { color: #3F2860; }
nav a:visited 
{ color: #497777; }
nav a:hover
{ color: #A26100; border: 3px inset #333333; }
.studio{
    font-style: italic;
}
footer{
    grid-area: footer;
    background-color: #80cbc4;
    font-size: 0.60em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}
img{
    grid-area: image;
    padding-left: 1em;
    padding-right: 0%;
}
#mainimg{
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 2em;
}
#hero{
    grid-area: hero;
    text-align: center;
    margin-top: 0px;
    padding-right: 0%;
}
header{
    grid-area: header;
}
#sec1{
    grid-area: sec1;
}
#sec2{
    grid-area: sec2;
}
#sec3{
    grid-area: sec3;
}
dd{
    margin-inline-start: 0%;
}